

 body{
    text-align: center;
}

.btn{
    height: 12rem;
    width: 12rem;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: lightgreen;
}

.purple{
    background-color: purple;
}

.flash{
    background-color: white
    ;
}

.userflash{
    background-color: green;
}